.background {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-bottom: 12px;
  position: relative;
}

.banner {
  display: flex;
  top: 0;
  height: 50px;
  width: 100%;
  position: absolute;
}

.points {
  display: flex;
  width: 100%;
  height: 100%;
}

.boards {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.buttons {
  margin-top: auto;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.rounded-button {
  font-family: "Bangers", system-ui;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #20dbaa;
  padding-right: 25px;
  padding-left: 25px;
  height: 40px;
}

.casitas {
  margin-top: 12px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.horizontal {
  position: absolute;
  background-color: grey;
  top: 50vh;
  width: 80%;
  height: 1px;
}

.vertical {
  position: absolute;
  background-color: grey;
  top: 10px;
  width: 1px;
  height: 90%;
}

.left {
  right: 0;
}

.right {
  left: 0;
}

.casita {
  width: 65px;
  height: 67px;
  position: relative;
  display: flex;
  margin-bottom: 20px;

  .palitos {
    position: absolute;
  }

  .palitos:nth-child(5n + 1) {
    align-self: center;
    left: 0;
  }

  .palitos:nth-child(5n + 2) {
    top: 0;
    left: 0;
    transform: rotate(90deg) translate(-420%, -55%);
  }

  .palitos:nth-child(5n + 3) {
    align-self: center;
    right: 0;
    rotate: 180deg;
  }

  .palitos:nth-child(5n + 4) {
    bottom: 0;
    right: 0;
    transform: rotate(-90deg) translate(-400%, -55%);
  }

  .palitos:nth-child(5n + 5) {
    align-self: center;
    right: 50%;
    transform: rotate(45deg) scale(1.1);
  }
}

.casita:last-child {
  margin-bottom: 0;
}
